.ShowCard {
    width: 230px;
    height: 150px;
    margin: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    padding-top: 15px;
}

.ShowCard:hover {
    cursor: pointer;
}

.ShowCard:active {
    background-color: lightgray;
}

.ShowCard p:first-of-type {
    padding-top: 15px;
}

.ShowCard h7 {
    font-size: 22px;
    font-weight: 800;
}