/* TO USE FOR HEADERS */
/* * {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-style: normal;
} */

/* TO USE FOR NORMAL TEXT */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

/* .montserrat-<uniquifier> { */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 475;
  font-style: normal;
}

html {
  margin-top: 0px;
}

body {
  background-color: #CDC9C6;
}

h1 {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-size: 375px;
}